.block{
    
    border: 0.1em solid black;
    border-radius: 1em;
    margin: 0.25em 0.25em;
    height:40em;
}

.input{
    display: flex;
}

.display{
    display:flex;
}
.displayNumbers{
    display: block;
}

/* .values{
    margin: 1em;
} */
