.block{
    
    border: 0.1em solid black;
    border-radius: 1em;
    margin: 0.25em 0.25em;
    height:40em;
}

.input{
    display: flex;
}

.display{
    display:flex;
}
.displayNumbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.values{
    /* flex-grow: 4;
    flex-wrap: wrap; */
}

.bars{
    display: flex;
    /* justify-content:end; */
    align-items: flex-end;
}

.bar{
    /* display:inline; */
    background-color: rgb(0, 212, 142);
    border:0.02em solid rgb(0, 106, 192);
    margin: 0;
    flex-basis: 1.5em;
    width: auto;
}